@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
}
.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* HEADER COLOR THING */
header {
  background-color: #ffc107;
  color: #000;
  padding: 20px 20px;
  text-align: center;
  width: 100%;
  z-index: 2; /* Ensures header is above other content */
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  flex-grow: 1;
}

.signin-btn-container {
  text-align: right;
  padding-right: 10px;
  padding-top: 20px;
}

main {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  padding-top: 10px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  flex: 1.4;
  min-width: 200;
}
.info-container{
  flex: 1;
  min-width: 200;
}


#zoomContainer {
  overflow: hidden;
  position: relative;
  width: 100%; /* Ensures responsiveness */
  height: auto; /* Adjust based on content */
  max-width: 1500px; /* Limit the maximum size on larger screens */
  margin: 20px auto; /* Center the container */
  border: 1px solid #ccc;
}

.scaled-center-image {
  transition: transform 0.2s ease-out; /* Faster transition with smooth ending */
  width: 100%; /* Ensure the image scales with the container */
  height: auto; /* Maintain aspect ratio */
}

.highlight-area {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5); /*change if wanted */
  /* display: none; */
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

button, select, input[type="text"], input[list="categories"] {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Rubik', Arial, sans-serif; /* Ensure font consistency */
  transition: background-color 0.3s ease;
}

button:hover, select:hover, input[type="text"]:hover, input[list="categories"]:hover {
  background-color: #ffc107;
  color: black;
  transform: scale(1.1);
}



input[type="text"], input[list="categories"] {
  border: 1px solid #ccc; /* Ensures the input field is clearly visible */
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
  
  .image-container, .info-container {
    flex-basis: 100%;
  }
}
